@model IEnumerable<Labyrinth.Models.Player>

@using Microsoft.AspNet.Identity;
@using Labyrinth.Models;
@{
    ViewBag.Title = "Index";
    ApplicationDbContext db = new ApplicationDbContext();
    var idUser = new Guid(User.Identity.GetUserId());
}
<h2>Leader board </h2>
<img src="~/Content/Images/crown.png" width="50" height="50" />

<table class="table table-hover table-bordered">
    <tr class="trcolor">
        <th>
            Place
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        @if (User.IsInRole("Administrator"))
        {
            <td>Ban user</td>
        }
    </tr>
    @{
        int counter = 1;
    }
    @foreach (var item in Model)
    {
        if (item.Id == idUser)
        {
            
                <tr>
                    <td>
                        <font color="red">
                        @counter  ME
                            </font>
                    </td>
                    <td>
                        <font color="red">
                        @Html.DisplayFor(modelItem => item.Nickname)
                            </font>
                    </td>

                    <td>
                        <font color="red">
                        @Html.DisplayFor(modelItem => item.Points)
                            </font>
                    </td>
                    @if (User.IsInRole("Administrator") && item.Id != idUser)
                    {
                        <td>@Html.ActionLink("Ban", "banUser", new { id = item.Id })</td>
                    }

                </tr>
            counter = counter + 1;

            
        }
        else
        {
        <tr>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            @if (User.IsInRole("Administrator"))
                    {
                <td>@Html.ActionLink("Ban", "banUser", new { id = item.Id })</td>
            }
           
        </tr>
            counter = counter + 1;
        }
    }

</table>

