@model IEnumerable<Labyrinth.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="trcolor">
        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        
    </tr>
}

</table>
