@model IEnumerable<Labyrinth.Models.Sell>
@using Microsoft.AspNet.Identity;
@using Labyrinth.Models;
@{
    ViewBag.Title = "Index";
    ApplicationDbContext db = new ApplicationDbContext();
    var gold = db.Players.Find(new Guid(User.Identity.GetUserId())).Gold;
}
<h1> My Gold:</h1> <span class="badge"><font size="8"> @gold </font></span>
<h2>Market</h2>
<script>
    function NoGold(idI, price) {
        if (price > '@gold') {
            alert("Not enough gold");
        }
        else {
            var url = '@Url.Action("buyItem", "Market", new { id = -1 })';
            url = url.replace('-1', idI);
            window.location = url;
        }
    }
</script>

<table class="table table-hover">
    <tr class="trcolor">
        <th>
            Item Name
        </th>
        <th>
            Icon
        </th>
        <th>
            Seller
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.PlayerId != new Guid(User.Identity.GetUserId()))
        {


            using (Html.BeginForm("buyItem", "Market", FormMethod.Post))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                <img src="@Url.Action("getImage", "Market", new { id = item.Item.Id })" height="30px" width="30px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @*@Html.ActionLink("Buy Item", "buyItemwaaw", new { id = item.Id })*@
                <input type="button" class="btn-link" value="Buy" onclick="NoGold(@item.Id, @item.Price)" />
 
            </td>
        </tr>
                }
            }
        }

</table>
<p>
    <input type="button" class="btn btn-primary btn-md" value="Sell items" onclick="@("window.location.href='" + @Url.Action("sellItems", "Market") + "'");" />

    @*Html.ActionLink("Sell Items", "sellItems")*@
</p>

<h3>My sales</h3>

<table class="table table-hover">
    <tr class="trcolor">
        <th>
            Item Name
        </th>
        <th>
            Icon
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.PlayerId == new Guid(User.Identity.GetUserId()))
        {


            using (Html.BeginForm("cancelItem", "Market", FormMethod.Post))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        <img src="@Url.Action("getImage", "Market", new { id = item.Item.Id })" height="30px" width="30px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Cancel Sale", "cancelItem", new { id = item.Id })

                    </td>
                </tr>
            }
        }
    }

</table>