@model IEnumerable<Labyrinth.Models.PlayerItem>
@{
    ViewBag.Title = "SellItems";
}

<h2>Sell Items</h2>

<table class="table">
    <tr class="trcolor">
        <th>
            Item Name
        </th>
        <th>
            Icon
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Quantity to sell
        </th>
        <th>
            Price to sell
        </th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("sellItem", "Market", FormMethod.Post))
        {
            <tr>
                    
                <td>
                    @Html.Hidden("name",item.Item.Name)
                    @Html.DisplayFor(modelItem => item.Item.Name)
                    @*@Html.TextBox("name", item.Item.Name, new { @readonly = "readonly" })*@
                    @Html.HiddenFor(modelItem => item.Item.Id, new { Name = "itemId", id = "itemId" })
                </td>
                <td>
                    <img src="@Url.Action("getImage", "Market", new { id = item.Item.Id } )"  height="30px" width="30px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    @Html.Hidden("itemQuant", item.Quantity)
                </td>
                <td>
                    @Html.TextBox("quantity")
                </td>
                <td>
                    @Html.TextBox("price")
                </td>
                <td>
                   <input type="submit" name="Sell item" value="Sell item" />

                </td>
            </tr>
        }
    }

</table>